/* Adicione estilos globais a este arquivo e também importe outros arquivos de estilo */

@use "@angular/material" as mat;

@include mat.core();

/* Defina paletas de cores personalizadas */
$my-primary: mat.define-palette(mat.$blue-palette);
$my-accent: mat.define-palette(mat.$indigo-palette, A200, A400, 700);

// The "warn" palette is optional and defaults to red if not specified.
$my-warn: mat.define-palette(mat.$red-palette);

$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
      warn: $my-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);
@include mat.all-component-themes($my-theme);
/* Estilize o HTML e o corpo da página */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
